__pycache__
server/heavy-nfld.db
serverv2/heavy-nfld.db
hosts
backups
data
deploy
deploy/roles/web/heavy-nfld.db
deploy/vault-password.txt
deploy/cert.sh
serverv2/static/audios
serverv2/static/streams
serverv2/static/thumbnails
serverv2/static/videos
serverv2/static/video_streams
scripts
