__pycache__
server/heavy-nfld.db
serverv2/heavy-nfld.db
hosts
backups
/data/
deploy
deploy/roles/web/heavy-nfld.db
deploy/vault-password.txt
deploy/cert.sh
docs/audios
docs/data
docs/streams
docs/thumbnails
docs/videos
docs/video_streams
scripts
