<!doctype html>
<html>
    <head>
        <title>HeavyNFLDB</title>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/2.1.5/css/dataTables.dataTables.min.css">
        <script src="//cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>

        <script src="/static/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
    </head>
    <body>
        <span class="header table-link" onclick="tableClick()">
            HeavyNFLDB
        </span>

        <iframe id="yt-embed" class="yt-embed" src="" srcdoc="<link rel='stylesheet' type='text/css' href='/static/empty-frame.css'/><div class='yt-embed-empty'>YouTube links will open here</div>">
        </iframe>

        <div id="subpage"></div>

    </body>
</html>