<!doctype html>
<html>
    <head>
        <title>HeavyNFLDB</title>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/2.1.5/css/dataTables.dataTables.min.css">
        <script src="//cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>

        <script src="/static/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/main.css"/>
    </head>
    <body>
        <header class="header">
            <a href="/">HeavyNFLDB</a>
        </header>

        <table id="myTable" class="cell-border nowrap compact stripe">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Hometown</th>
                    <th>Release Date</th>
                    <th>Genre</th>
                    <th>Label</th>
                    <th>YouTube</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Hometown</th>
                    <th>Release Date</th>
                    <th>Genre</th>
                    <th>Label</th>
                    <th>YouTube</th>
                </tr>
            </tfoot>
        </table>
    </body>
</html>