
<table id="myTable" class="cell-border nowrap compact stripe">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Hometown</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Label</th>
            <th>YouTube</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Hometown</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Label</th>
            <th>YouTube</th>
        </tr>
    </tfoot>
</table>